<section class="breadcrumbs">
    <div class="wrapper">
        {{breadcrumbs}}
    </div>
</section>
<div>
    <div class="wrapper wrapper-side">
        <div class="left-side">
            <section class="text-block">
                <div class="text-block__title">{{article.title}}</div>
                <div class="text-block__type">
                    Окружение: <span>Для новичков</span>
                </div>
                <div class="text-block__content">
                    {{article.body}}
                </div>
            </section>
            <section class="usefull small-container">
                <div class="usefull__item">
                    <div class="usefull__question">Была ли эта статья полезной?</div>
                    <form name="usefull-answer" class="usefull__answer" id="usefull-answer">
                                <span class="is-ok-box">
                                    <input type="submit" class="is-ok" name="is-ok" value="Да"/>
                                </span>
                        <span class="is-not-ok-box">
                                    <input type="submit" class="is-not-ok" name="is-not-ok" value="Нет"/>
                                </span>
                    </form>
                    <div class="usefull__statistic">Пользователи, считающие этот материал полезным: 12 из 15</div>
                </div>
            </section>
            <section class="comments small-container">
                <h2 class="section-title">Комментарии</h2>

                <!--                <div class="comment">
                                    <img src="/images/zendesk/avatar.png" width="52" alt="Avatar" class="comment__avatar">
                                    <div class="comment__content">
                                        <div class="comment__name">
                                            Анатолий Мирный
                                            <div class="settings">
                                                <a href="#" class="like">
                                                    <img src="/images/zendesk/like.svg" alt="Like">
                                                </a>
                                                <a href="#" class="share">
                                                    <img src="/images/zendesk/share.svg" alt="Share">
                                                </a>
                                                <a href="#" class="more">
                                                    <img src="/images/zendesk/more.svg" alt="More">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="comment__text">
                                            Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда
                                            приемлемые модификации, например, юмористические вставки или слова,
                                            которые даже отдалённо не напоминают латынь.
                                        </div>
                                    </div>
                                </div>-->

                <!--                <div class="comment">
                                    <img src="/images/zendesk/avatar.png" width="52" alt="Avatar" class="comment__avatar">
                                    <div class="comment__content">
                                        <div class="comment__name">
                                            Анатолий Мирный
                                            <div class="settings">
                                                <a href="#" class="like">
                                                    <img src="/images/zendesk/like.svg" alt="Like">
                                                </a>
                                                <a href="#" class="share">
                                                    <img src="/images/zendesk/share.svg" alt="Share">
                                                </a>
                                                <a href="#" class="more">
                                                    <img src="/images/zendesk/more.svg" alt="More">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="comment__text">
                                            Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда
                                            приемлемые модификации, например, юмористические вставки или слова,
                                            которые даже отдалённо не напоминают латынь.
                                        </div>
                                    </div>
                                </div>-->
            </section>

            <!--            <section class="popular-articles similar">
                            <div class="similar-title">Похожие статьи</div>
                            <div class="articles-container">
                                <ul class="articles-container__list">
                                    <li>
                                        <a href="#">Начало работы с Apple Pay</a>
                                    </li>
                                    <li>
                                        <a href="#">Начало работы с Apple Pay чало работы с Apple Pay Pay чало работы с Apple Pay</a>
                                    </li>
                                    <li>
                                        <a href="#">Начало работы с Apple Pay</a>
                                    </li>
                                    <li>
                                        <a href="#">Начало работы с Apple Pay</a>
                                    </li>
                                    <li>
                                        <a href="#">Начало работы с Apple Pay чало работы с Apple Pay Pay чало работы с Apple Pay</a>
                                    </li>
                                </ul>
                            </div>
                        </section>-->

            <section class="popular-articles similar">
                <div class="similar-title">Похожие статьи</div>
                <div class="articles-container">
                    {{#if settings.show_recently_viewed_articles}}
                        {{recent_articles}}
                    {{/if}}
                    {{#if settings.show_related_articles}}
                        {{related_articles}}
                    {{/if}}
                </div>
            </section>

        </div>
        <div class="right-side">
            <div class="right-side">
                <aside class="menu-items absolute">
                    <div class="section-menu-container">
                        {{#each section.articles}}
                            <div class="section-menu-container__item {{#is id ../article.id}}current-article{{/is}}">
                                <img src="https://alfabank.ua/zendesk/images/item-search.svg" alt="About">
                                <div class="item-title"><a href="{{url}}">{{title}}</a></div>
                                <div class="item-description">Стал клиентом, с чего начать</div>
                                <div class="link-container">
                                    <a href="{{url}}" class="link">подробнее</a>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>