<header>
    <img src="https://alfabank.ua/zendesk/images/header-image-1.svg" alt="Image 1" class="main-header-img header__image-1">
    <img src="https://alfabank.ua/zendesk/images/header-image-2.svg" alt="Image 1" class="main-header-img header__image-2">
    <img src="https://alfabank.ua/zendesk/images/header-image-mob.svg" alt="Image 1" class="main-header-img header__mob">
    <img src="https://alfabank.ua/zendesk/images/header-image-mob-2.svg" alt="Image 1" class="main-header-img header__mob-2">
    <div class="wrapper">
        <div class="header__top">
            {{#link 'help_center'}}
                <img src="{{settings.logo}}" class="logo desktop" alt="{{t 'home_page' name=help_center.name}}">
                <img src="https://alfabank.ua/zendesk/images/logo-mob-header.svg" class="logo mob" alt="{{t 'home_page' name=help_center.name}}">
            {{/link}}
            <div class="header-top__buttons">

                <div class="footer-language-selector">
                    {{#if alternative_locales}}
                        <div class="dropdown language-selector">
                            <button class="dropdown-toggle" aria-haspopup="true">
                                {{current_locale.name}}
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
                                </svg>
                            </button>
                            <span class="dropdown-menu dropdown-menu-end" role="menu">
                                {{#each alternative_locales}}
                                    <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                                        {{name}}
                                    </a>
                                {{/each}}
                            </span>
                        </div>
                    {{/if}}
                </div>

                {{link 'community'}}
                {{link 'new_request' class='button red'}}

                {{#if signed_in}}
                    <div class="user-info dropdown">
                        <button class="dropdown-toggle" aria-haspopup="true">
                            {{user_avatar class="user-avatar"}}
                            {{user_name}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon" aria-hidden="true">
                                <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
                            </svg>
                        </button>
                        <div class="dropdown-menu" role="menu">
                            {{link "my_activities" role="menuitem"}}
                            {{my_profile role="menuitem"}}
                            {{change_password role="menuitem"}}
                            {{link "sign_out" role="menuitem"}}
                        </div>
                    </div>
                {{else}}
                    {{#link "sign_in" class='button'}}
                        {{t 'sign_in'}}
                    {{/link}}
                {{/if}}
            </div>
        </div>
    </div>

    <script>
        let notMain = ( window.location.href.length - window.location.href.indexOf('.ua/hc/uk-ua') != 12 ) || 
                      (window.location.href.length - window.location.href.indexOf('.ua/hc/ru') != 9 );
        if (notMain) {
            document.querySelectorAll('.header__top')[0].classList.add('general');
            
            if ( document.querySelector('.header__top .lang') != null ) {
                document.querySelector('.header__top .lang').classList.remove('main');
            }

            let images = document.querySelectorAll('.main-header-img');
            for ( let i =  0; i < images.length; i++ ) {
                images[i].parentNode.removeChild(images[i]);
            }
        }
    </script>
</header>

