<section class="section-header">
    <div class="wrapper">
        <div class="section-header__question">
            <div class="question__title">{{dc 'question__title'}}</div>
            <div class="question__description">{{dc 'question__description'}}</div>
            <div class="question__search">

                <form role="search" class="search search-full" data-search="" data-instant="true" autocomplete="off" action="/hc/uk-ua/search" accept-charset="UTF-8" method="get">
                    <input name="utf8" type="hidden" value="✓">

                    <input type="search" name="query" id="search query" placeholder="Поиск" autocomplete="off" aria-label="Пошук">
                    <div class="search-btn">
                        <div class="search-btn__container"></div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

{{#if promoted_articles}}
<section class="popular-articles">
    <img src="https://alfabank.ua/zendesk/images/asd.svg" alt="Image 3" class="popular-articles__image">
    <div class="wrapper">
        <div class="articles-container">
            <div class="articles-container__title">{{t 'promoted_articles'}}</div>
            <ul class="articles-container__list">
                {{#each promoted_articles}}
                <li>
                    <a href="{{url}}">{{title}}

                        {{#if internal}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
                                <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
                                <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
                            </svg>
                        {{/if}}

                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</section>
{{/if}}

<section class="menu-items on-main-page">
    <div class="wrapper">
        <div class="section-menu-container">
        {{#each categories}}
            {{#if ../has_multiple_categories}}
            <div class="section-menu-container__item">
                <img src="https://alfabank.ua/zendesk/images/about-bank.svg" alt="About">
                <a href="{{url}}" class="item-title">{{name}}</a>
                <div class="item-description">{{excerpt description}}</div>
                <div class="link-container">
                    <a href="{{url}}" class="link">{{dc 'link-container-go'}}</a>
                </div>
            </div>
        {{else}}
            {{#each sections}}
            <div class="section-menu-container__item">
                <img src="https://alfabank.ua/zendesk/images/menu-2.svg" alt="About">
                <a href="{{url}}" class="item-title">{{name}}</a>
                <div class="item-description">{{excerpt description}}</div>
                <div class="link-container">
                    <a href="{{url}}" class="link">{{dc 'link-container-go'}}</a>
                </div>
            </div>
            {{/each}}
            {{/if}}
        {{/each}}
        </div>
        {{pagination}}
    </div>
</section>