<section class="breadcrumbs">
    <div class="wrapper">
        {{breadcrumbs}}
    </div>
</section>

<div>
    <div class="wrapper wrapper-side">
        <div class="left-side">
            <section>
                <div class="section-header__question">
                    <div class="question__title">{{section.name}}</div>
                    {{#if section.description}}
                        <div class="question__description">{{section.description}}</div>
                    {{/if}}
                    <div class="question__search">
                        {{search submit=false instant=settings.instant_search class='search search-full'}}
                    </div>
                </div>
            </section>
            <section class="popular-articles">
                <div class="articles-container">
                    {{#if section.articles}}
                        <ul class="articles-container__list">
                            {{#each section.articles}}
                                <li class="{{#if promoted}} article-promoted{{/if}}">

                                    <a href="{{url}}">

                                        {{#if promoted}}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false"
                                                 viewBox="0 0 12 12" class="icon-star" title="{{t
                                                    'promoted'}}">
                                                <path fill="currentColor"
                                                      d="M2.88 11.73c-.19 0-.39-.06-.55-.18a.938.938 0 01-.37-1.01l.8-3L.35 5.57a.938.938 0 01-.3-1.03c.12-.37.45-.63.85-.65L4 3.73 5.12.83c.14-.37.49-.61.88-.61s.74.24.88.6L8 3.73l3.11.17a.946.946 0 01.55 1.68L9.24 7.53l.8 3a.95.95 0 01-1.43 1.04L6 9.88l-2.61 1.69c-.16.1-.34.16-.51.16z"/>
                                            </svg>
                                        {{/if}} {{title}}

                                        {{#if internal}}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t
                                                    'internal'}}">
                                                <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1"
                                                      ry="1"/>
                                                <path fill="none" stroke="currentColor"
                                                      d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
                                            </svg>
                                        {{/if}}
                                    </a>
                                </li>
                            {{else}}
                                <i class="section-empty">
                                    <a href="{{section.url}}">{{t 'empty'}}</a>
                                </i>
                            {{/each}}
                            <a tabindex="0" class="see-all-sections-trigger" aria-hidden="true"
                               id="see-all-sections-trigger" title="{{t 'see_all_sections'}}">{{t
                                    'see_all_sections'}}</a>
                        </ul>
                    {{else}}
                        {{#if section.sections}}
                            <ul class="articles-container__list">
                                {{#each section.sections}}
                                    <li><a href="{{url}}">{{name}}</a></li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    {{/if}}

                    {{pagination}}
                </div>
            </section>
        </div>
        {{#if section.articles}}
            {{#if section.sections}}
                <div class="right-side">
                    <aside class="menu-items absolute">
                        <div class="section-menu-container">
                            {{#each section.sections}}
                                <div class="section-menu-container__item">
                                    <img src="https://alfabank.ua/zendesk/images/item-search.svg" alt="{{name}}">
                                    <div class="item-title"><a href="{{url}}">{{name}}</a></div>
                                    <div class="link-container">
                                        <a href="{{url}}" class="link">{{dc 'link-container-go'}}</a>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </aside>
                </div>
            {{/if}}
        {{else}}
        {{/if}}
    </div>
</div>